{% extends 'base.html'%}

{% block title %}
DB Status 
{% endblock %}

{% block body %}
<nav>
    <h1>Database Status</h1>
    
    DB Online: 

    <h2>Tasks</h2>
    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        <tr>
            <td>
                Download Pictures<br>
                Checks the database for records that are missing 'pictureBlob' value and corrects them.
            </th>
            <td>
                <a href=""
            </td>
        </tr>


    </table>

</nav>
{% endblock %}