{% extends 'base.html'%}

{% block title %}
General Index
{% endblock %}

{% block body %}
<nav>
    <h1>About</h1>

    <p>
        This project was made to learn more web development and to also learn how to scrape data from sites.
    </p>

    <h2>Tools</h2>
    <h3>Backend</h3>
    <ul>
        <li>Python</li>
        <li>Postgres</li>
        <li>Docker</li>
    </ul>

    <h3>Front End</h3>
    <ul>
        <li>Python</li>
        <li>Flask</li>
    </ul>
    
    <h3>Web Scraping</h3>
    <ul>
        <li>Python</li>
        <li>beautifulSoup4</li>
        <li>Requests</li>
        <li>XivDbReader</li>
    </ul>
    <p>
        XivDbReader is a custom module that was created to keep the logic of scraping in its own project.
    </p>

</nav>
{% endblock %}